.error {
	color: red;
}

.success {
	color: darkgreen;
}

.card {
	display: inline-block;
	width: 20%;
	min-height: 100px;
	border-radius: 10px;
	border: 1px solid #666;
	padding: 1em;
	margin-bottom: 1em;
}

.completed {
	text-decoration: line-through;
	color: #999;
}

ul {
	list-style: none;
}

.fa:hover {
	cursor: pointer;
}
.fa-trash-o {
	float: right;
}
li {
	padding: 5px;
	border: 1px solid #ccc;
	min-width: 200px;
}
.editBtn {
	color: #666;
	float: right;
	padding-right: 1em;
	font-size: 0.8em;
}
.completed .editBtn {
	display: none;
}
.editBtn:hover {
	cursor: pointer;
	color: cadetblue;
}