// SASS
@import 'normalize';

// Variables:
$primary-color: #5696e0;


/*
 * GENERAL
 */
html, body {
	height: 100%;
}
body {
	font-size: 1rem;
    line-height: 1.4rem;
	color: #111;
	background: #79b url(../img/sayagata-80px-blue.png) repeat;
	font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* clearfix (latest & greatest) */
.cf::before, .cf::after {content: ""; display: table;}
.cf::after {clear: both;}
.cf {zoom: 1;} /* For IE 6/7 (trigger hasLayout) */


/*
 * LAYOUTS
 */
@mixin flexbox($direction, $wrap) {
	-js-display: flex;
	/* for polyfill */
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
}
#wrap {
	width: 80%;
	margin: 0 auto;
}
#app {
	margin: 2em auto 0.3em;
	@include flexbox(row, wrap);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}
section {
	border: 1px solid #999;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
	margin: 0 0.7em 0.6em 0;
	border-radius: 4px;
}
#tasks-container {
	background: white;
	padding: 1em 1.3em 1.3em;
	min-height: 50%;
	flex-basis: auto;
	flex-grow: 3;
}
#toolbox {
	background: #eee;
	padding: 0.8em 1.1em 1.1em;
	font-size: 90%;
	min-height: 50%;
	flex-basis: 12em;
	flex-grow: 1;
}
#info {
	background: #eee;
	padding: 0.8em 1.1em 1.1em;
	font-size: 90%;
}
/* NARROWEST: STACK SECTIONS AND FILL TO SCREEN EDGE */
@media screen and (max-width: 499px) {
  	#wrap {
 		width: 100%;
  	}
 	#app {
 		margin: 1em 0 0.3em;
 	}
}
/* MEDIUM: STACK SECTIONS AND ALLOW SMALL MARGIN */
@media screen and (min-width: 500px) and (max-width: 799px) {
 	#wrap {
 		width: 90%;
 	}
 	#app {
 		margin: 1.2em 0 0.3em;

		section {
	 		padding: 0.8em 1.1em 1.1em;
	 		margin: 0 0 0.5em;
	 	}
 	}
}
/* WIDE: FLEXBOX, 2-COLUMNS, CENTRED, AUTO MARGIN */
@media screen and (min-width: 800px) {
	#wrap {
	}
}


/*
 * FONTS
 */
h1 {
	font-size: 1.8rem;
	color: #222;

	.subhead {
		font-size: 1.5rem;
		color: #666;
	}
}
h3 {
	margin: 0.5em 0;
}


/*
 * FILTER SECTION
 */
#filter {
	border: 1px solid #aaa;
	border-radius: 12px;
	padding: 3px 6px;
	width: 14em;
	display: inline-block;
	position: relative;

	input {
		border: 0;
		width: 95%;
	}

	.icon-clear {
		position: absolute;
		top: 6px;
		right: 6px;
	}
}
input:focus {
	outline: none;
}


/*
 * LIST OF TASKS
 */
ul {
	list-style: none;
	padding: 0;
}
li.list-item {
	padding: 5px;
	border: 1px solid #aaa;
	min-width: 200px;

	input[type=text] {
		min-width: 80%;
	}
	input[type=checkbox] {
		margin-right: 4px;
	}
}
li:not(:last-child) {
	border-bottom: 0;
}
li.completed .task-body {
	text-decoration: line-through;
	color: #999;
}
li.selected {
	background: #def;
}
.flex-container {
	@include flexbox(row, nowrap);
	justify-content: space-between;

	> .group {
		display: inline-block;
		@include flexbox(row, wrap);
		align-items: center;

		&:first-child {
			@include flexbox(row, wrap);
			flex-basis: 50%;
			justify-content: flex-start;
		}
		&:last-child {
			@include flexbox(row, nowrap);
			flex-basis: 50%;
			justify-content: flex-end;
		}
	}
	.group-inner {
		@include flexbox(row, nowrap);
		display: inline-block;
		justify-content: flex-end;

		&:first-child {
			@include flexbox(row, wrap);
			align-items: center;
		}
		&:last-child {
			@include flexbox(row, nowrap);
			flex-basis: 3.3em;
		}
	}
}
.icon-trash {

}


/*
* TASK ACTIONS
*/
.edit-btn {
	color: #666;
	padding: 0 0.8em;
	font-size: 0.8em;

	&:hover {
		cursor: pointer;
		color: $primary-color;
	}
	.completed & {
		display: none;
	}
}
svg {
	width: 1em;
	height: 1em;

	&:hover {
		cursor: pointer;
	}
}


/*
* BUTTONS
*/
button {
	border: 0;
	background-color: $primary-color;
	color: white;
	border-radius: 8px;
	font-size: 0.8rem;
	padding: 3px 6px;

	&:hover {
		background-color: lighten($primary-color, 10%);	//#61aaff;;
	}
}
#task-buttons {
	float: right;

	.icon-untrash {
		padding: 0 2px 0 3px;
		margin-bottom: -2px;
		font-size: 1rem;
	}
}


/*
 * TAGS & COLOURS SECTION
 */
 %bubble {
	display: inline-block;
 	background: #bbb;
 	border: 1px solid #999;
 	margin: 0 1px;
	min-width: 11px;
	min-height: 11px;
 }
.tag {
	@extend %bubble;
	font-size: 0.7em;
	color: white;
	padding: 0 4px;
	border-radius: 10px;
	text-align: center;
}
.colour {
	@extend %bubble;
	border-radius: 6px;
}
.red { background: #f33; border: 1px solid #c00; }
.orange { background: #f93; border: 1px solid #c60; }
.yellow { background: #ff3; border: 1px solid #cc0; }
.green { background: #3c3; border: 1px solid #090; }
.blue { background: #39c; border: 1px solid #069; }
.purple { background: #63c; border: 1px solid #309; }
.pink { background: #c3c; border: 1px solid #909; }

.list-item {
	.tag:hover,
	.colour:hover {
		cursor: url(../img/delete-cursor.png), crosshair;
	}
}


/*
 * LOWER TAGS SECTION
 */
#tag-list, #colour-list {
	border: 1px solid #999;
	background: #fff;
	padding: 0.5em;
	margin: 0.5em 0;

	.tag:hover,
	.colour:hover {
		cursor: url(../img/add-cursor.png), crosshair;
	}

	p {
		margin: 0;
		margin-bottom: 0.4em;
	}
}
#tag-list {
	.tag {
		margin-bottom: 2px;
	}

	.edit-btn {
		float: right;
	}

	> div {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
#tag-list.editing > div {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	span {
		@include flexbox(row, nowrap);
		margin-bottom: 4px;
		justify-content: flex-start;
		align-items: center;

		.tag {
			flex-basis: 5em;
			justify-content: center;
			margin-right: 1em;
			margin-bottom: 0;
		}
	}
}
#tag-list.editing input {
	border: 1px solid #999;
}


/*
 * INFO
 */
dt {
	float: left;
	clear: left;
	margin-left: 0.5em;
	font-weight: bold;
}
dd {
	margin-left: 2.5em;
}
#info, #toolbox {
	p {
		clear: both;
	}
	abbr {
		font-size: 0.8em;
		color: $primary-color;
		border-bottom: 1px dotted $primary-color;
		cursor: pointer;
	}
}
#info {
	@include flexbox(row, wrap);
	justify-content: stretch;
	padding: 10px 0 0 10px;

	> div {
		border: 1px solid #999;
		background: #fff;
		padding: 0.5em;
		margin: 0 10px 10px 0;
		flex-shrink: 1;
		flex-grow: 1;
		flex-basis: 22%;	/* 4 columns */
	}
}
/* NARROWEST: STACK SECTIONS AND FILL TO SCREEN EDGE */
@media screen and (max-width: 499px) {
	#info > div {
		flex-basis: 95%;	/* 1 columns (all wrap) */
	}
}
/* MEDIUM: STACK SECTIONS AND ALLOW SMALL MARGIN */
@media screen and (min-width: 500px) and (max-width: 799px) {
	#info > div {
		flex-basis: 45%;	/* 3 columns, 1 wraps */
	}
}
/* WIDE: FLEXBOX, 2-COLUMNS, CENTRED, AUTO MARGIN */
@media screen and (min-width: 800px) and (max-width: 1040px) {
	#info > div {
		flex-basis: 30%;	/* 2 columns of 2 */
	}
}

/*
 * DRAG & DROP
 */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}
.dragging {
	opacity: 0.8;
	color: #6894D1;
}
.drag-enter {
	color: #C93742;
}


/*
 * Tooltip.js styles
 */
 #tooltip {
	position: absolute;
	background: rgba($primary-color, 0.7);
	color: white;
	font-size: 0.8rem;
	padding: 6px;
}
